@media (min-width: 300px){

    .sidebar{
        display: none;
    }

    .container-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .header{
        position: absolute;
    }

    .img-thumb{
        width: 550px;
    }
    .main-body{
        margin-left: 10px;
    }

}

@media (min-width: 800px){

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-thumb{
    width: 385px;
}

}

@media (min-width: 1000px){


   .container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }

   .img-thumb{
    width: 330px;
}


}