@media (max-width: 650px){



    .sidebar{
        display: none;
    }

    .container-grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .right-side{
        display: none;
    }
    .left-side{
        display: none;
    }
    .middle-side{
        display: none;
    }



    
}